@model mymvc.Models.Aluno

@{
    ViewBag.Title = "Um";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Um</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clube)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
